*{
    margin: 0;
    padding: 0;
}


.slider{
    width: 100vw;
    height: 100vh;
    background-color:darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderImg{
    width: 100%;
    max-width: 1000px;
    display: none;
}

#number1:checked + .sliderImg{
    display: block;
}